div {
    width: 100%;
    height: 100%;
    font-size: 5rem !important;
    border-color: none !important;
    border: none;
    text-align: center;
}

.X {
    background-image: url("/assets/art/penguin.png");
}

.O {
    background-image: url("/assets/art/parrot.png");
}

.animal {
    background-size: cover;
}
