<!-- <h1>Current Player: {{ player }}</h1> -->

<button (click)="newGame()">Start New Game</button>

<section>
    <div class="player playerX">
        Penguin
        <div *ngIf="winner" class="message" [ngSwitch]="isXwinner()">
            <img
                *ngSwitchCase="true"
                src="/assets/art/emote_star.png"
                alt="win"
            />
            <img
                *ngSwitchCase="false"
                src="/assets/art/emote_anger.png"
                alt="lose"
            />
            <div *ngSwitchCase="undefined"></div>
        </div>
        <img src="/assets/art/penguin_details.png" alt="playerXImg" />
    </div>
    <div class="score">{{ counter.X }}</div>
    <div class="score">{{ counter.O }}</div>

    <div class="player">
        Parrot
        <div *ngIf="winner" class="message" [ngSwitch]="isXwinner()">
            <img
                *ngSwitchCase="false"
                src="/assets/art/emote_star.png"
                alt="win"
            />
            <img
                *ngSwitchCase="true"
                src="/assets/art/emote_anger.png"
                alt="lose"
            />
            <div *ngSwitchCase="undefined"></div>
        </div>
        <img src="/assets/art/parrot_details.png" alt="playerOImg" />
    </div>
</section>

<main>
    <div class="row" *ngFor="let cells of this.squares; let row = index">
        <app-square
            *ngFor="let val of cells; let col = index"
            [value]="val"
            [player]="player"
            [isHighlight]="isHighlight(row, col)"
            (click)="makeMove(row, col)"
            [class.highlight]="isHighlight(row, col)"
            [class.flipped]="isNewFlip(row, col)"
        ></app-square>
    </div>
</main>
