:host {
    width: 650px;
    margin: auto;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 650px;
    align-self: center;
    border: 1px solid black;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.205);
    border-radius: 6px;
}

.row {
    display: flex;
    flex: 1;
    // border: 1px solid black;
}

section {
    align-self: center;
    // display: flex;
    display: grid;
    width: 100%;
    grid-template-columns: 150px 1fr 1fr 150px;
    text-align: center;
    height: 200px;
    background-color: rgba(97, 172, 68, 0.822);
    border-radius: 5px;
    margin-top: 10px;
    .player {
        padding: 8px;
        display: flex;
        flex-direction: column;
        line-height: 2;
        position: relative;
        // color: whitesmoke;
        font-size: 1.5em;
        &.playerX {
            .message {
                left: unset;
                right: -4px;
            }
        }
    }

    .message {
        position: absolute;
        height: 30px;
        height: 61px;
        top: 16px;
        left: -4px;
        img {
            height: 100%;
        }
    }

    .score {
        line-height: 200px;
        font-size: 4em;
        // color: blanchedalmond;
        // font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    }
}

app-square {
    background-color: rgba(80, 143, 25, 0);
    border-radius: 6px;
    overflow: hidden;
    margin: 2px;
    flex: 1;
}

.highlight {
    background-color: rgba(255, 255, 255, 0.493);
    cursor: pointer;
    opacity: 15%;
    filter: blur(2px);
    transition: all 0.2s ease-in-out;
    &:hover {
        opacity: 85%;
        filter: unset;
    }
}

.X {
    background-image: url("../../assets/art/penguin.png");
}

.O {
    background-image: url("../../assets/art/parrot.png");
}

button {
    width: 100%;
    height: 3em;
    align-self: center;
    // border: 1px solid black;
    border: none;
    border-radius: 5px;
    color: whitesmoke;
    background-color: rgba(119, 167, 119, 0.671);
    font-weight: 800;
    font-size: 1.5em;
    cursor: pointer;
    transition: background-color 1s;

    margin-bottom: 0.5em;
    box-shadow: 0 4px #999;
    padding: 15px 25px;

    &:hover {
        background-color: rgb(45, 78, 40);
    }

    &:active {
        background-color: rgb(45, 78, 40);
        box-shadow: 0 4px #666;
        transform: translateY(4px);
    }
}

.flipped {
    animation: flip-vertical-bck 1s;
}

.flip-vertical-bck {
    -webkit-animation: flip-vertical-bck 0.4s
        cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
    animation: flip-vertical-bck 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955)
        both;
}

/* ----------------------------------------------
* Generated by Animista on 2021-11-3 15:33:39
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

@-webkit-keyframes flip-vertical-bck {
    0% {
        -webkit-transform: translateZ(0) rotateY(0);
        transform: translateZ(0) rotateY(0);
    }
    100% {
        -webkit-transform: translateZ(-260px) rotateY(-180deg);
        transform: translateZ(-260px) rotateY(-180deg);
    }
}
@keyframes flip-vertical-bck {
    0% {
        -webkit-transform: translateZ(0) rotateY(0);
        transform: translateZ(0) rotateY(0);
    }
    100% {
        -webkit-transform: translateZ(-260px) rotateY(-180deg);
        transform: translateZ(-260px) rotateY(-180deg);
    }
}
